body {
    display: flex;
    font-family: poppins;
    justify-content: center;
    align-items: center;
  
    background: #A890FE;
    
    color: white;
    height: 600px;
}

form {
    height: 30rem;
    width: 20rem;
    background-color: white;
    color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.heading {
    text-align: center;
    background: rgb(248, 0, 79);
    color: white;
    margin: 0;
    margin-bottom: 20px;
    padding: 10px 0;
    width: 100%;
}

#website {
    width: 80%;
    height: 30px;
    outline: none;
    border: none;
    background: gainsboro;
    padding: 0 10px;
    margin-bottom: 20px;
}

input {
    font-family: poppins;
    transition: 0.3s;
    border-radius: 5px;
    border: none;
    outline: none;
}

.generateBtn {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(16, 11, 179);
    color: white;
    cursor: pointer;
    margin: 20px;
}
.generateBtn:hover{
    background-color: rgba(16, 11, 179,20);
}
.generateBtn:active{
    background-color: rgb(41, 41, 171);
}


.sig{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 100;
  }
  .nm{
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 500;
    
  }
  .social{
    font-size: 18px;
  }
  a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    
  }
  a:hover{
    color: #f800cf;
  }

  .ft {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(8, 2, 43,0);
    color: white;
    text-align: center;
    padding: 20px 0; /* Adjust padding as needed */
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Additional styles for your social links */
.social a {
    margin: 0 5px; /* Adjust margin as needed */
}
